@font-face{
  font-family: MyFont;
  src:url('../TurretRoad-ExtraBold.ttf') format('tff'),
      url('../TurretRoad-Regular.ttf') format('tff') !important;
  font-weight: 600;
  font-size:100px;
}

.hello{
  font-family: MyFont !important;
  color:#FFF;
  margin:auto;
}

body{
  background-image: url('../sunflower.jpg');
  background-size: cover; 
}